In [10]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import  RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [11]:
data = pd.read_excel('C:\\Users\\Pawan\\Downloads\\house_prices.xlsx')

In [12]:
data

,House Size (sqft),Number of Bedrooms,Location (Zip Code),Age of House,Garage Size (sqft),Price (USD)
0,3125,3,30003,11,482,116326
1,1803,5,20002,13,126,198940
2,888,5,30003,9,482,126483
3,1549,5,30003,23,380,424113
4,1783,4,30003,32,358,159629
...,...,...,...,...,...,...
95,2220,1,30003,13,227,231269
96,934,5,40004,27,256,472283
97,1140,1,30003,28,227,459758
98,3455,1,20002,22,310,185838
99,3669,5,20002,6,445,198405

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   House Size (sqft)    100 non-null    int64
 1   Number of Bedrooms   100 non-null    int64
 2   Location (Zip Code)  100 non-null    int64
 3   Age of House         100 non-null    int64
 4   Garage Size (sqft)   100 non-null    int64
 5   Price (USD)          100 non-null    int64
dtypes: int64(6)
memory usage: 4.8 KB

In [19]:
data.isnull()

,House Size (sqft),Number of Bedrooms,Location (Zip Code),Age of House,Garage Size (sqft),Price (USD)
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
95,False,False,False,False,False,False
96,False,False,False,False,False,False
97,False,False,False,False,False,False
98,False,False,False,False,False,False
99,False,False,False,False,False,False

In [20]:
corr_matrix = data.corr()
corr_matrix

,House Size (sqft),Number of Bedrooms,Location (Zip Code),Age of House,Garage Size (sqft),Price (USD)
House Size (sqft),1.000000,0.050933,-0.181154,0.070513,0.176410,-0.023813
Number of Bedrooms,0.050933,1.000000,0.087813,0.072711,0.106791,0.061863
Location (Zip Code),-0.181154,0.087813,1.000000,0.135248,0.062682,0.060121
Age of House,0.070513,0.072711,0.135248,1.000000,0.000445,0.047120
Garage Size (sqft),0.176410,0.106791,0.062682,0.000445,1.000000,-0.031031
Price (USD),-0.023813,0.061863,0.060121,0.047120,-0.031031,1.000000

In [21]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

print(x)
print(y)

    House Size (sqft)  Number of Bedrooms  Location (Zip Code)  Age of House  \
0                3125                   3                30003            11
1                1803                   5                20002            13
2                 888                   5                30003             9
3                1549                   5                30003            23
4                1783                   4                30003            32
..                ...                 ...                  ...           ...
95               2220                   1                30003            13
96                934                   5                40004            27
97               1140                   1                30003            28
98               3455                   1                20002            22
99               3669                   5                20002             6

    Garage Size (sqft)
0                  482
1                  126
2                  482
3                  380
4                  358
..                 ...
95                 227
96                 256
97                 227
98                 310
99                 445

[100 rows x 5 columns]
0     116326
1     198940
2     126483
3     424113
4     159629
       ...
95    231269
96    472283
97    459758
98    185838
99    198405
Name: Price (USD), Length: 100, dtype: int64

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

In [23]:
lr_model = LinearRegression()
dt_model = DecisionTreeRegressor()
rf_model = RandomForestRegressor()

In [24]:
lr_model.fit(x_train, y_train)
dt_model.fit(x_train, y_train)
rf_model.fit(x_train, y_train)

RandomForestRegressor()

In [25]:
lr_pred = lr_model.predict(x_test)
dt_pred = dt_model.predict(x_test)
rf_pred = rf_model.predict(x_test)

In [26]:
print(lr_pred)

[311912.67633806 296925.43174519 303970.80613114 309773.31466089
 291706.97309855 316996.58801913 285957.88541373 311377.61101785
 318743.35350143 300999.10135537 346551.49833123 323224.26012037
 311675.35958501 318597.98793941 275600.16643827 320341.3480804
 298562.37986524 320775.55375887 327253.5636729  298226.74732971
 300241.91289733 334976.17092317 322054.92365088 323538.62212203
 301304.06865165 270719.46016409 274337.45906834 316262.18800649
 333412.28490652 304071.05253722]

In [27]:
print(dt_pred)

[158874. 185838. 137560. 304906. 202275. 126483. 475894. 159577. 183721.
 235751. 442740. 408762. 408280. 217659. 317054. 317447. 198405. 491128.
 408280. 304906. 198940. 308774. 326286. 158874. 235751. 231269. 459599.
 170171. 308774. 198940.]

In [28]:
print(rf_pred)

[282528.61 224915.4  298044.96 275231.68 300004.63 295467.96 393499.87
 332918.1  311202.52 287443.92 360074.9  345223.86 314110.57 272422.51
 326997.98 343263.75 318819.3  357383.04 355467.99 294718.8  303603.22
 331396.74 322254.22 301519.85 297628.54 288272.95 278007.18 260292.36
 290654.76 314453.63]

In [29]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

#from sklearn.metrics import mean_squared_error
#from sklearn.metrics import r2_score

In [32]:
print("linearRegression",mean_squared_error(y_test, lr_pred))
print("DecisionTreeRegression", mean_squared_error(y_test, dt_pred))
print("RandomForestRegression", mean_squared_error(y_test, rf_pred))

linearRegression 17260123291.175007
DecisionTreeRegression 31616869567.866665
RandomForestRegression 18756137208.518833

In [34]:
print("linearRegression",r2_score(y_test, lr_pred))
print("DecisionTreeRegression",r2_score(y_test, dt_pred))
print("RandomForestRegression",r2_score(y_test, rf_pred))

linearRegression -0.2380825928093946
DecisionTreeRegression -1.2679036059444049
RandomForestRegression -0.3453928801357309